.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: url('/pizzeria.png'); /* im /public Ordner */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -2; /* hinter Overlay und Inhalt */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.4); /* Schwarz 40% */
  z-index: -1; /* über Hintergrund, unter Inhalt */
}

.mainBody {  
    max-width: 1260px;
    margin: auto;
    position: relative;
    z-index: 0;

    /* Flex-Zentrierung */
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertikal zentrieren */
    align-items: center;     /* optional horizontal zentrieren */
    min-height: 100vh;       /* volle Höhe nutzen */
}

.lol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightgrey;
    border-radius: 10px;
    margin-top: 10px;
    padding: 30px 30px 30px 30px;
    opacity: 0.9;
}