.ModalArea {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.StepOneMain {
    display: flex;
    flex-direction: column;
}

.modalH2 {
    margin: 0px 0px;
    margin-bottom: 15px;
}

.ImageContainer {
    display: flex;
    margin: 5px 0px;
    border-radius: 5px;
}

.ImageContainer:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

.ImageOuter {
    overflow: hidden;
    min-width: 150px;
    border-radius: 5px;
    max-height: 150px;
}

.ImageContainerImage {
    border-radius: 5px;
    transition: transform .2s ease-in-out;
}

.ImageContainer:hover .ImageContainerImage {
    transform: scale(1.2);
    border-radius: 5px;
}

.ImageText {
    font-size: 25px;
    margin-left: 10px;
    max-height: 150px;
}

.toppingsList {
    font-size: 15px;
    color: slategray;
}

.bottomArea {
    display: flex;
    margin-top: auto;
    max-height: 56px;
    width: 100%;
}

.textField {
    flex: 1;
    margin: 0 4px; 
}

.OrderButton {
    margin-left: auto;
}
